<!-- app/views/layouts/active_admin_logged_out.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
  <%= stylesheet_link_tag "active_admin" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>